.pokemon-page {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
  p-button {
    width: 7%;
  }
  .pokemon-card__skeleton {
    margin: auto;
  }
}