@use 'variables.scss' as *;

.pokemon-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .pokemon-home__main {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      span {
        color: $app-color;
      }
    }
    .pokemon-home__language {
      display: flex;
      flex-direction: column;
      justify-content: center;
      button {
        cursor: pointer;
        display: flex;
        background: none;
        border: none;
        h2 {
          margin: 0.5rem 0.3rem;
          &:hover {
            color: $app-color;
            transition: 0.2s ease-in;
          }
        }
      }
    }
  }
}