.pokemon-list__row:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.pokemon-row__skeleton {
  .skeleton-types {
    .skeleton-types__display {
      display: flex;
      gap: 1rem;
    }
  }
}