<p-table [value]="(pokemonRowData$ | async) || []" [scrollable]="true" [scrollHeight]="scrollHeight()" [customSort]="true" (sortFunction)="customSort($event)">
  <ng-template #header>
    <tr class="pokemon-list__header">
      @if (isCheckable()) {
        <th style="width: 4%"></th>
      }
      <th style="width:8%" pSortableColumn="id">
        Index <p-sortIcon field="id"/>
      </th>
      <th style="width:14%">
        Image
      </th>
      <th style="width:20%" pSortableColumn="name">
        Name <p-sortIcon field="name"/>
      </th>
      <th style="width:20%">
        Types
      </th>
      <th [style.width]="isCheckable() ? '34%' : '38%'" pSortableColumn="abilities">
        Abilities <p-sortIcon field="abilities"/>
      </th>
    </tr>
    <ng-container *ngTemplateOutlet="filterRow" />
  </ng-template>

  <ng-template #body let-pokemon>
    <ng-container *ngTemplateOutlet="pokemonRow; context: { pokemon: pokemon }" />
  </ng-template>
  
  <ng-template #emptymessage>
    <ng-container *ngTemplateOutlet="skeletonRows" />
  </ng-template>
</p-table>


<!-- Filter Row Template -->
<ng-template #filterRow>
  <tr class="pokemon-list__filter-row">
    @if (isCheckable()) {
      <th></th>
    }
    <th style="width:8%">
      <input pInputText
        class="search-id" 
        placeholder="id" 
        filterValue="" 
        [formControl]="filterStateService.idControl" 
        fluid
      />
    </th>
    <th style="width:14%"></th>
    <th style="width:20%">
      <input pInputText
        class="search-name" 
        placeholder="Search name"
        [formControl]="filterStateService.nameControl" 
        fluid
      />
    </th>
    <th style="width:20%">
      <p-multiselect
        [options]="filterStateService.typesOptions"
        [formControl]="filterStateService.typesControl"
        [maxSelectedLabels]="2"
        placeholder="Search types"
        fluid
      />
    </th>
    <th [style.width]="isCheckable() ? '34%' : '38%'">
      <input pInputText
        class="search-ability" 
        placeholder="Search ability" 
        [formControl]="filterStateService.abilitiesControl" 
        fluid
      />
    </th>
  </tr>
</ng-template>

<!-- Pokemon Row Template -->
<ng-template #pokemonRow let-pokemon="pokemon">
  <tr class="pokemon-list__row" (click)="handleRowClick(pokemon.id)">
    @if (isCheckable()) {
      <td>
        <p-check-box
          [binary]="true"
          [ngModel]="selectedPokemonService.isSelected(pokemon.id)"
          (onChange)="selectedPokemonService.set(pokemon.id, $event.checked)"
          (click)="$event.stopPropagation()"
        />
      </td>
    }
    <td>{{ pokemon.id }}</td>
    <td>
      <ng-container *ngTemplateOutlet="pokemonImage; context: { pokemon: pokemon }" />
    </td>
    <td>{{ pokemon.name | titlecase }}</td>
    <td>
      <app-pokemon-types-displayer [types]="pokemon.types | displayTypes" />
    </td>
    <td><app-pokemon-abilities-displayer [abilities]="pokemon.abilities | displayAbilities"/></td>
  </tr>
</ng-template>

<!-- Pokemon Image Template -->
<ng-template #pokemonImage let-pokemon="pokemon">
  @if (pokemon.id == 1) {
    <img [ngSrc]="pokemon.sprites.front_default" width="96" height="96" priority>
  } @else {
    <img [ngSrc]="pokemon.sprites.front_default" width="96" height="96">
  }
</ng-template>

<!-- Skeleton Rows Template -->
<ng-template #skeletonRows>
  @for (skeleton of [].constructor(10); track $index) {
    <tr class="pokemon-list__skeleton">
      @if (isCheckable()) {
        <td style="width: 4%">
          <p-skeleton width="1rem" height="1rem" />
        </td>
      }
      <td style="width:8%">
        <p-skeleton width="80%" />
      </td>
      <td style="width:14%">
        <p-skeleton width="7rem" height="7rem" />
      </td>
      <td style="width:20%">
        <p-skeleton width="100%" height="1.3rem" />
      </td>
      <td class="skeleton-types" style="width:20%">
        <p-skeleton width="100%" height="2rem" />
      </td>
      <td [style.width]="isCheckable() ? '34%' : '38%'" >
        <p-skeleton width="100%" height="1.3rem" />
      </td>
    </tr>
  }
</ng-template>