<p-table [value]="(pokemonDetails$ | async) || []" [scrollable]="true" scrollHeight="75vh">
  <ng-template #header>
    <tr class="pokemon-list__header">
      <th style="width:8%">Index</th>
      <th style="width:14%">Image</th>
      <th style="width:22%">Name</th>
      <th style="width:14%">Types</th>
      <th style="width:42%">Abilities</th>
    </tr>
    <tr class="pokemon-list__filter-row">
      <th style="width:8%">
        <input class="search-id" placeholder="id">
      </th>
      <th style="width:14%"></th>
      <th style="width:22%">
        <input class="search-name" placeholder="Search name">
      </th>
      <th style="width:14%">Types</th>
      <th style="width:42%">
        <input class="search-ability" placeholder="Search ability">
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-pokemon>
    <tr class="pokemon-list__row" (click)="traveToPokemonDetailsPage(pokemon.id)">
      <td>{{ pokemon.id }}</td>  
      @if (pokemon.id == 1) {
        <td><img ngSrc="{{ pokemon.sprites.front_default }}" width="96" height="96" priority></td>
      } @else {
        <td><img ngSrc="{{ pokemon.sprites.front_default }}" width="96" height="96"></td>
      }
      <td>{{ pokemon.name | titlecase  }}</td>
      <td><app-pokemon-types-displayer [types]="pokemon.types | displayTypes" /></td>
      <td>{{ pokemon.abilities | displayAbilities:true }}</td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    @for (skeleton of [].constructor(10); track $index) {
      <tr class="pokemon-list__skeleton">
        <td style="width:8%" >
          <p-skeleton width="80%"/>
        </td>
        <td style="width:14%">
          <p-skeleton width="7rem" height="7rem"/>
        </td>
        <td style="width: 22%" >
          <p-skeleton width="100%" height="1.3rem"/>
        </td>
        <td class="skeleton-types" style="width:14%">
          <p-skeleton width="7rem" height="2rem" />
        </td>
        <td style="width:42%">
          <p-skeleton width="100%" height="1.3rem"/>
        </td>
      </tr>
    }
  </ng-template>
</p-table>

<!--
 <tr>
      <th>
        <p-columnFilter type="text" field="id" placeholder="Id" ariaLabel="Filter Id" filterOn="input" />
      </th>
      <th style="width:14%">
      </th>
      <th style="width:22%">
        <p-columnFilter type="text" field="name" placeholder="Search name" ariaLabel="Filter Name" filterOn="input" style="width:22%"/>
      </th>
      <th style="width:14%">
        <p-columnFilter type="text" field="id" placeholder="Search by id" ariaLabel="Filter Id" filterOn="input" style="width:14%"/>
      </th>
      <th style="width:42%">
        <p-columnFilter type="text" field="id" placeholder="Search by id" ariaLabel="Filter Id" filterOn="input" style="width:42%"/>
      </th>
    </tr>
-->