.pokemon-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60rem;
  margin: auto;
  transition: 0.5s ease;
  .pokemon-card_main {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .pokemon-card_image-info {
    display: flex;
    gap: 3rem;
    img {
      width: 15rem;
    }
  } 
}