@import "primeicons/primeicons.css";

$frame-border-color: #3f3f46;

* {
  box-sizing: border-box; 
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
}

strong {
  font-weight: 400;
}