@use 'variables.scss' as *;

.pokedex {
  margin: auto;
  max-width: 90%;
  .pokedex__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1.6rem;
    .pokedex__frame-list {
      border: 1px solid $frame-border-color;
      border-radius: 1rem;
      padding: 1.5rem;
    }
    h1 {
      margin: 0;
    }
  }
}